.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.decrement-btn {
  background-color: red;
  border: transparent;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: large;
  color: white;
  border-radius: 10%;
}

.decrement-btn:focus {
  outline: 0;
}

.increment-btn {
  background-color: green;
  border: transparent;
  padding: 5px 8px;
  margin-left: 10px;
  font-size: large;
  color: white;
  border-radius: 10%;
  margin-right: 20px;
}

.increment-btn:focus {
  outline: 0;
}

.reset-btn {
  border: 1px solid black;
  padding: 5px 8px;
  margin-top: 10px;
  font-size: large;
  border-radius: 8%;
}

.reset-btn:focus {
  outline: 0;
}
